<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>Thank you for ordering from WeBakeLove. Please note that we will not be issuing any printed receipts as part of WeBakeLove's efforts to reduce paper wastage.
    Any Special requests will be noted and forwarded but are fulfilled based on the restaurant's discretion and best efforts and may involve additional charges.
    Total amount for your order is <%= @user_detail.total %>Ks</p>

    <p>Regards,</p>
    <p>WeBakeLove</p>
  </body>
</html>