<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>We have recieved Your Order
    </p>

    <p>Regards,</p>
    <p>WeBakeLove</p>
  </body>
</html>