<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.name %>, </p>
    <p>We apologize but we had to cancel your order because the restaurant would not accept your order or the restaurant was closed.
    We hope that you will choose to use us again, we will make sure to get it right next time. </p>
    <p>Regards,</p>
    <p>WeBakeLove</p>
  </body>
</html>