Hi <%= params[:user].email %></h1>
Someone requested a reset of your password.
If this was you,click the link to reset your passwoed.The link will expire automatically in 15 minutes.
<%= link_to "Reset Your Password", "http://localhost:3000/passwordreset?user_email=#{params[:user].email}&token=#{@token}" %>